<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    ">
    
    <context:component-scan base-package="com.springcore.demo"></context:component-scan>
    <bean id="emp1" class="com.springcore.demo.Employee" autowire="byName" scope="prototype">
    <!-- p:id="101" p:name=`${employee.name}` p:salary="45000" p:address-ref="ad1" -->
    	<!-- Setter Injection -->
    	
    	<property name="id" value="101"></property>
    	<property name="name" value="${emp.name}"></property>
    	<property name="salary" value="45000"></property>
   		<!--  <property name="address" ref="ad1" ></property> -->
   		<!--  
    <constructor-arg value="101" index="0"></constructor-arg>
    <constructor-arg value="35000" index="2"></constructor-arg>
     <constructor-arg value="Rahul" index="1"></constructor-arg>
     <constructor-arg ref="ad1" index="3"></constructor-arg> -->
      
    </bean>
     <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="myproperty.properties"></property>
    </bean> 
   <bean id="address" class="com.springcore.demo.Address" c:address="E-455/49" c:city="Faridabad" c:state="Haryana" c:zipcode="122411">
   	<!-- <constructor-arg name="address" value="E-455/49"></constructor-arg>
   	<constructor-arg name="city" value="Faridabad"></constructor-arg>
   	<constructor-arg name="state" value="Haryana"></constructor-arg>
   	<constructor-arg name="zipcode" value="122411"></constructor-arg>
   	 -->
   </bean>
    <bean id="ad2" class="com.springcore.demo.Address"></bean> 
    
 </beans>